.header {
  margin-bottom: 20px;
  background-color: #fff9f0;
}

.middle {
  flex: 1;
  min-width: 100px;
}

.left-side {
  flex: 1;
  margin-left: 5px;
}

.right-side {
  flex: 1;
  justify-content: end;
  min-width: 170px;
}

:host ::ng-deep button {
  background-color: #fff9f0;
}
