<button type="button" (click)="loadData(userForm)">load data</button>
<button type="button" (click)="patchData(userForm)">patch data</button>
<form #userForm="ngForm" (submit)="postDataToServer(userForm)">
  <div>
    <label>Name</label>
    <input
      type="text"
      name="name"
      required
      minlength="5"
      ngModel
      #name="ngModel"
    />
  </div>
  <div *ngIf="name.touched">
    <small class="field-error" *ngIf="name.hasError('required')">Name is required</small>
    <small class="field-error" *ngIf="name.hasError('minlength')">the minimum length is 5</small>
  </div>
  <div>
    <label>Age</label>
    <input type="text" name="age" ngModel required>
  </div>

  <button type="submit">Submit</button>
</form>
