<div class="p-4 justify-center align-items-center d-flex flex-column">
  <a [routerLink]="['/detail', data.id]">
  <img width="200" height="200" [src]="data.image" class="img-thumbnail">
  </a>

  <h3 [innerHTML]="data.name | itemTitle | highlightSearchResults : searchTerm  | uppercase " class="item-title">{{data.name }}</h3>
  <div class="price-details">
  <h4 [ngClass]="{'discount' : data.discountPercent > 0}">{{data.price | conversion:currencyCode | currency: currencyCode}}</h4>
  <div *ngIf="data.discountPercent">
    <h4>{{data.finalPrice | conversion:currencyCode | currency: currencyCode}}</h4>
  </div>

  </div>
  <div *ngIf="!isMyProductsMode; else myProductMode">
  <button [hidden]="isProductInCart" class="active-btn action-btn" (click)="addToCartClicked()" *ngIf="data.stock>0; else stock">add to cart</button>
  <app-counter [numberOfItems]="(cartItems$ | async)[idToCartIndexMap[data.id]]?.numberOfItems" (counterClicked)="counterClicked($event)" [id]="data.id" *ngIf="isProductInCart"></app-counter>
  </div>
</div>


<ng-template #myProductMode>
  <div class="in-row">
  <a [ngClass]="{'alert-stock': data.stock === 0 }" [routerLink]="['/edit-product', data.id]" class="active-btn link-btn m-1">edit</a>
  <button class="active-btn alert-btn m-1" (click)="onDeleteClicked()">delete</button>
  </div>
</ng-template>

<ng-template #stock>
  <p>out of stock</p>
  <button>notify me</button>
</ng-template>
