<div class="p-4 justify-center align-items-center d-flex flex-column">
  <a [routerLink]="['/detail', data.productId]">
  <img [src]="data.productImage" class="img-thumbnail">
  </a>
  <h3 class="item-title">{{data.productName | uppercase | itemTitle}}</h3>
  <div class="price-details">
  <h4 [ngClass]="{'discount' : data.discountPercent > 0}">{{data.productPrice | conversion:currencyCode | currency: currencyCode}}</h4>
  <div *ngIf="data.discountPercent">
    <h4>{{data.productPrice | calculateDiscount: data.discountPercent | conversion:currencyCode | currency: currencyCode}}</h4>
  </div>
  </div>
  <button class="btn btn-primary btn-sm w-100" (click)="notifyParent()" *ngIf="data.productStock>0; else stock">add to cart</button>
</div>

<ng-template #stock>
  <p>out of stock</p>
  <button>notify me</button>
</ng-template>
