<!--<app-product></app-product>-->
<!--<app-product-list></app-product-list>-->

<!--<app-template-driven></app-template-driven>-->
<!--<app-model-driven></app-model-driven>-->
<!--<app-dynamic-forms></app-dynamic-forms>-->
<app-header></app-header>
<!--<app-currency></app-currency>-->
<!--<app-login-buttons></app-login-buttons>-->
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

<!--https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=[API_KEY]-->
