<div class="in-row">
<a class="navbar-brand" href="#">Navbar</a>
<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <li class="nav-item" *ngFor="let nav of navItems">
    <a
      class="nav-link"
      [routerLink]="nav.link"
      [routerLinkActive]="['active']"
    >{{ nav.text | titlecase }}</a
    >
  </li>
<!--  [routerLinkActiveOptions]="{ exact: true }"-->
</ul>
</div>
