<div class="in-row">

<a class="navbar-brand" href="#">Products-app</a>

<nav class="nav-panel" mat-tab-nav-bar>
  <a class="nav-item" mat-tab-link *ngFor="let nav of navItems"
     [routerLink]="nav.link" [routerLinkActive]="['active']">
    {{nav.text}}
  </a>
</nav>

<button class="nav-button icon-button active-btn" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
<mat-menu #menu="matMenu">
    <a class=nav-item [routerLinkActive]="['active']" *ngFor="let nav of navItems" mat-menu-item [routerLink]=nav.link>{{nav.text}} </a>
</mat-menu>
</div>
