<div class="in-row search-filters">
  <label [for]="'sort-by'">sort by </label>
  <select id="sort-by" (ngModelChange)="onSortByChanged($event)" [(ngModel)]="sortBy">
    <option *ngFor="let sortOption of sortByOptions">{{sortOption.alias}}</option>
  </select>

  <button *ngIf="sortBy" class="arrow-btn" (click)="onSortDirectionChanged()">
    <mat-icon *ngIf="!up">keyboard_arrow_up</mat-icon>
    <mat-icon *ngIf="up">keyboard_arrow_down</mat-icon>
  </button>

  <div class="in-row in-sale-container">
    <input id="in-sale" class="in-sale-box" (ngModelChange)="onIsInSaleChanged($event)" [(ngModel)]="isInSale" type="checkbox">
    <label class="in-sale-label" [for]="'in-sale'">in sale </label>
  </div>
</div>
