.search-filters {
  height: 1rem;
  margin-left: 1rem;
}

.arrow-btn {
  border: none;
  background-color: white;
}

label {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.in-sale-container {
  margin-left: 1rem;
  border-left: 1px black dashed;
}

.in-sale-box {
  margin-left: 1rem;
}
