img {
  width: 60px;
  margin-right: 5px;
}

.cart-item {
  display: flex;
  margin-top: 5px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #c8d6ff;
}

/*.modal{ height: 100vh; width: 100%;}*/
/*.modal-header{ height: 5vh;}*/
/*.modal-footer{ height: 5vh;}*/
/*.modal-body{ height: calc(90vh - 500px)}*/


::ng-deep .mat-dialog-container {
  /*overflow-y: hidden !important;*/
  overflow-y: overlay !important;
}

.central-item-details {
  width: 70%;
}

.discount-cart-item {
  margin-left: 10px;
}

.prev {
  font-size: 14px;
}

.cart-body {
  min-height: 72%;
}
