<div class="cart-header">
<h1 class="dialog-header" mat-dialog-title>Cart</h1>
<h5>Total Price: {{cartItemsTotalPrice$ | async | conversion:currencyCode | currency: currencyCode}}</h5>
</div>

<div *ngIf="!isCartEmpty; else cartEmpty" mat-dialog-content>
  <div class="cart-item"  *ngFor="let item of (cartItems$ | async)">
      <img [src]=item.productImage>
      <div class="central-item-details">
        <h6>{{item.productName}}</h6>
        <div class="in-row">
        <h6 [ngClass]="{'discount prev' : item.discountPercent > 0}">{{item.productPrice | conversion:currencyCode | currency: currencyCode}}</h6>
        <div class="discount-cart-item" *ngIf="item.discountPercent">
          <h6>{{item.productPrice | calculateDiscount: item.discountPercent | conversion:currencyCode | currency: currencyCode}}</h6>
        </div>
        </div>
        <button (click)="removeFromCart(item)">delete</button>
      </div>
      <app-counter [productId]="item.productId" (counterClicked)="onCounterClicked($event)" [numberOfItems]="item.numberOfItems"></app-counter>
  </div>
</div>

<ng-template #cartEmpty>
  <p>please add items to cart</p>
</ng-template>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>exit</button>
  <button mat-button mat-dialog-close="'approve'" color="primary" cdkFocusInitial>approve</button>
</div>
