<div class="cart-header">
<h1 class="dialog-header" mat-dialog-title>Cart</h1>
<h5>Total Price: {{cartItemsTotalPrice$ | async | conversion:currencyCode | currency: currencyCode}}</h5>
</div>

<div *ngIf="!isCartEmpty; else cartEmpty" mat-dialog-content>
  <div class="cart-item"  *ngFor="let item of (cartItems$ | async)">
      <img [src]=item.image>
      <div class="central-item-details">
        <h6>{{item.name}}</h6>
        <div class="in-row">
        <h6 [ngClass]="{'discount prev' : item.discountPercent > 0}">{{item.price | conversion:currencyCode | currency: currencyCode}}</h6>
        <div class="discount-cart-item" *ngIf="item.discountPercent">
          <h6>{{item.price | calculateDiscount: item.discountPercent | conversion:currencyCode | currency: currencyCode}}</h6>
        </div>
        </div>
        <button (click)="removeFromCart(item)">delete</button>
      </div>
      <app-counter [id]="item.id" (counterClicked)="onCounterClicked($event)" [numberOfItems]="item.numberOfItems"></app-counter>
  </div>
</div>

<ng-template #cartEmpty>
  <p>please add items to cart</p>
</ng-template>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>exit</button>
  <button mat-button mat-dialog-close="'approve'" (click)="onApproveClicked()" color="primary" cdkFocusInitial>approve</button>
</div>
