@media only screen and (max-width: 700px) {
  .mrg {
   margin: 0;
  }
}

.user-buttons {
  display: block;
  margin: auto;
}

.link-btn {
  width: 62px;
  border: none;
}

::ng-deep .mat-menu-panel {
  margin-top: 5px;
  margin-right: 1px;
}
