
<form [formGroup]="form" (submit)="saveProduct()" class="bg-light border rounded p-4">
  <h1>add new product</h1>
  <div class="form-group">
    <label>Name</label>
    <input type="text" appUppercase formControlName="name" class="form-control">
    <div *ngIf="form?.get('name')?.touched">
      <small *ngIf="form.get('name')?.hasError('required')">Name is required</small>
      <small *ngIf="form.get('name')?.hasError('minlength')">the minimum length is 2</small>
    </div>
    <label>owner</label>
    <input type="text" class="form-control" [readOnly]="true" [value]="owner">
  </div>

  <div class="in-row">
    <div class="form-group">
      <label>price in {{currencyCode}}</label>
      <input [min]="0" type="number" formControlName="price" class="form-control">
      <small *ngIf="form.get('price')?.hasError('min')">Can't set negative number</small>
    </div>

    <div *ngIf="isInSale" class="form-group">
      <label>discount in percent</label>
      <input [max]="100" [min]="0" type="number" formControlName="discountPercent" class="form-control">
      <small *ngIf="form.get('discountPercent')?.hasError('min')">Can't set negative number</small>
    </div>

    <div class="form-group">
      <label>Total price in {{currencyCode}}</label>
      <div>{{totalPrice}}</div>
    </div>
  </div>

  <div class="form-group sale-group">
    <label>in sale: </label>
    <input class="sale-checkbox" formControlName="isInSale" type="checkbox" (change)="toggleIsInSale()">
  </div>

  <div class="form-group">
    <label>stock</label>
    <input [min]="0" type="number" formControlName="stock" class="form-control">
    <small *ngIf="form.get('stock')?.hasError('min')">Can't set negative number</small>
  </div>

  <div class="form-group">
    <label>image</label>

    <div class="my-3">
      <app-upload-form [percent]=imageProcessPercent (fileSelected)="markImgController($event)" (fileUploaded)="updateImgUrl($event)"></app-upload-form>
    </div>
  </div>

  <button [ngClass]="{'disabled': !isFormValid}" [disabled]="!isFormValid" type="submit" class="action-btn submit-btn">Submit</button>

</form>
