form {
  width: 60%;
  margin: auto;
}

.sale-group {
  display: flex;
}

.sale-checkbox {
  margin-top: 4px;
  margin-left: 5px;
}

.form-group {
  line-height: 2;
}

.in-row {
  display: flex;
}

.in-row * {
  margin-right: 20px;
}

small {
  color: red !important;
}

