.discount {
  text-decoration: line-through;
  color: red;
  font-size: 20px;
}

.in-row {
  display: flex;
  align-items: center;
}

.space {
  justify-content: space-between;
}

.HIGHLIGHT {
  color: yellowgreen;
}

.active{
  background-color: rgb(220,220,220) !important;
  opacity: 1 !important;
}

mat-icon {
  cursor: pointer;
}
