/* You can add global styles to this file, and also import other style files */
/*.cart-dialog-container .mat-dialog-content {*/
/*  overflow: hidden;*/
/*}*/
.discount {
  text-decoration: line-through;
  color: red;
  font-size: 20px;
}

.in-row {
  display: flex;
}


.HIGHLIGHT {
  color: yellowgreen;
}
