
body {
  min-height: 100%;
}

.discount {
  text-decoration: line-through;
  color: red;
  font-size: 20px;
}

.in-row {
  display: flex;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.space {
  justify-content: space-between;
}

.HIGHLIGHT {
  color: yellowgreen;
}

.active{
  background-color: rgb(220,220,220) !important;
  opacity: 1 !important;
}

mat-icon {
  cursor: pointer;
}

.active-btn {
  border-radius: 4px;
  border: none;
  padding: 5px 8px;
  transition: color 0.5s, background-color 0.5s;
}

.active-btn:hover {
  opacity: 0.7;
}

.alert-btn {
  color: white;
  background-color: red;
}

.alert-btn:active {
  color: red;
  background-color: white;
}

.submit-btn {
  color: white;
  background-color: rgb(0,200,0);
}

.submit-btn:active {
  background-color: white;
  color: rgb(0,180,60);
}

.action-btn {
  color: white;
  background-color: #71c6ff;
}

.action-btn:active {
  background-color: white;
  color: #71c6ff;
}

.link-btn {
  text-decoration: none;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 3px;
  width: 65px;
  text-align: center;
  color: #0d6efd;
  background-color: white;
}

.disabled {
  opacity: 0.3;
}

.disabled:hover {
  background-color: rgb(220,220,220);
  cursor: not-allowed;
}

.asc::after  {
  content: " ^";
  font-size: 18px;
}
.desc::after {
  content: ' v';
  font-weight: normal;
}

.sortable-header:hover {
  cursor: pointer;
}

.vertical-center {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.mrg {
  margin: 5px;
}
