<div class="vertical-center">
<div class="auth-form">
  <form [formGroup]="loginForm" (submit)="doLogin()">
    <small class="" *ngIf="errorMessage">
      {{errorMessage}}
    </small>
    <div class="form-group">
      <input
      type="email"
      class="form-control" placeholder="email" formControlName="email"
      >
    </div>

    <div class="form-group">
      <input
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="password"
      >
    </div>
    <div class="auth-btn">
    <button type="submit" class="active-btn submit-btn">Login</button>
    </div>
  </form>
</div>
</div>
